@import "variables";

// --Navigation-- //

#navbar {
  border-radius:0;
  background-color:$maincolor;
  color:white;
  border:none;
  margin: 2% 2% 0 2%;
  box-shadow:$level2;
}

.navbar-right > li > a {
  color:white !important;
}

.navbar-right > li.active > a {
  background-color:black !important;
}

.navbar-header > a {
  color:white !important;
}

#sidebar {
  background-color:$maincolor;
  margin:5%;
  box-shadow:$level2;
  padding:5%;
}

#search {
}

#accordion {
}


// --Alerts-- //

.alert {
  margin-top: 2%;
  z-index:100;
  position:absolute;
  left:5%;
  width:90%;
  border-radius:0;
  background-color:$seccolor;
  border:2px solid $maincolor;
  box-shadow:$level3;
}

#messages {
  height:20px;
  position:relative;
}


// --Content-- //

body {
  background-color:$seccolor;
  font-family: 'Oxygen', sans-serif;
}

#content {
  padding: 0 5%;
}


// --Buttons-- //

.buttons {
}

.btn {
  border-radius:0;
  box-shadow:$level1;
}

.btn-primary {
  background-color:$maincolor;
  &:hover, &:focus, &:active {
    background-color:$altcolor !important;
  }
}

.btn-default {

  &:hover, &:focus, &:active {
  
  }
}

.btn-warning {
  box-shadow:none;
  background-color:black;
  color:white;
  border-color:black;
  &:hover, &:focus, &:active {
    background-color:#3a3a3a !important;
    color:white;
    border-color:black;
  }
}

.btn-xs {
  width:30%;
}

.btn-full {
  width:100%;
  margin:5%;
}


// --Style-- //

.bold {
  font-weight:bold;
}

.problem {
  padding:10px;
}

hr.pull-left.small {
  width: 25%;
  padding-bottom:0;
}

.form-control {
  border-radius:0;
}

span.glyphicon {
    font-size:40px;
}

span.glyphicon.glyphicon-user {
    font-size:30px;
}


// --Other-- //

.list-group-submenu {
  margin-left:0px;
}

.list-group-item {
  border-radius:0 !important;
}

th, td { 
  text-align:center;
}