%nav.navbar.navbar-default#navbar
  .container-fluid
    .navbar-header
      = link_to "Playground", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li{:class => ("active" if current_page?(user_registration_path))}
          = link_to current_user.username, user_path(current_user)
        %li{:class => ("active" if current_page?(user_registration_path))}
          = link_to "Log Out", destroy_user_session_path, method: :delete
      - else
        %li{:class => ("active" if current_page?(user_registration_path))}
          = link_to "Register", new_user_registration_path
        %li{:class => ("active" if current_page?(user_registration_path))}
          = link_to "Log In", new_user_session_path
      

